html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-form {
    margin: 10px;
    box-shadow: 0px 0px 1px #000000;
    margin: 1rem auto;
    width: 50%;
}

.container-form {
    padding: 1rem 3rem;
}

.container-form h1 {
    color: #fb9795;
}

h2 {
    margin-top: 1.5rem;
    color: #fb9795;
}

.write input,
.write textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.write input[type="submit"] {
    background-color: #fb9795;
    color: white;
    cursor: pointer;
}

.write input[type="submit"]:hover {
    background-color: #e06666;
}


/* Footer Styles */

.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fb9795;
    color: white;
    padding: 1rem;
    text-align: center;
}